@model IQueryable<Portfolio.Entity.Post>

<!-- +++++ Posts Lists +++++ -->
<!-- +++++ First Post +++++ -->
@foreach (var post in Model)
{
    <div id="grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                        <img src="~/img/user.png" width="50px" height="50px">
                        <ba>@post.Author?.UserName</ba>
                    </p>
                    <p>
                        <bd>@post.Date</bd>
                    </p>
                    <h4>@post.Title</h4>
                    <p>
                        @post.Text
                    </p>
                    <p>
                        <form method="get" asp-controller="Blog" asp-action="Blog">
                            <input type="hidden" name="postId" value="@post.Id"/>
                            <input type="submit" value="Continue Reading..."/>
                        </form>
                    </p>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /grey -->
}
